html
  head     
    title Hello
    link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.min.css')  
    link(rel='stylesheet', type='text/css', href='/lib/font-awesome/css/font-awesome.min.css')
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    link(href='css/styles.css', rel='stylesheet')
    script(src='js/app.js')
  body
    h1.jumbotron Helloworld
